include ElMD/el_lookup/atomic.json
include ElMD/el_lookup/atomic.json  
include ElMD/el_lookup/elemnet.json  
include ElMD/el_lookup/jarvis_sc.json  
include ElMD/el_lookup/magpie_sc.json  
include ElMD/el_lookup/matscholar.json  
include ElMD/el_lookup/mendeleev.json  
include ElMD/el_lookup/oliynyk.json     
include ElMD/el_lookup/petti.json
include ElMD/el_lookup/cgcnn.json   
include ElMD/el_lookup/jarvis.json   
include ElMD/el_lookup/magpie.json     
include ElMD/el_lookup/mat2vec.json    
include ElMD/el_lookup/megnet16.json    
include ElMD/el_lookup/mod_petti.json  
include ElMD/el_lookup/oliynyk_sc.json  
include ElMD/el_lookup/random_200.json
include README.md
